﻿@model Praktican_zadatak___Bosko_Jevtic.Models.Proizvod

@{
    ViewBag.Title = "Delete";
    Layout = null;
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Proizvod</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kategorija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategorija)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proizvodjac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proizvodjac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dobavljac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dobavljac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cena)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
